$base1color: #141c65;
$base2color: #00582c;
$base3color: #704615;
$base4color: #70153b;

$nbase2color: #0c1a41;

$sammoColors: (
  "base1": $base1color,
  "base2": $base2color,
  "base3": $base3color,
  "base4": $base4color,
  "nbase2": $nbase2color,
);

$nationColors: (
  "000000": #000000,
  "FF0000": #ff0000,
  "800000": #800000,
  "A0522D": #a0522d,
  "FF6347": #ff6347,
  "FFA500": #ffa500,
  "FFDAB9": #ffdab9,
  "FFD700": #ffd700,
  "FFFF00": #ffff00,
  "7CFC00": #7cfc00,
  "00FF00": #00ff00,
  "808000": #808000,
  "008000": #008000,
  "2E8B57": #2e8b57,
  "008080": #008080,
  "20B2AA": #20b2aa,
  "6495ED": #6495ed,
  "7FFFD4": #7fffd4,
  "AFEEEE": #afeeee,
  "87CEEB": #87ceeb,
  "00FFFF": #00ffff,
  "00BFFF": #00bfff,
  "0000FF": #0000ff,
  "000080": #000080,
  "483D8B": #483d8b,
  "7B68EE": #7b68ee,
  "BA55D3": #ba55d3,
  "800080": #800080,
  "FF00FF": #ff00ff,
  "FFC0CB": #ffc0cb,
  "F5F5DC": #f5f5dc,
  "E0FFFF": #e0ffff,
  "FFFFFF": #ffffff,
  "A9A9A9": #a9a9a9,
  "330000": #330000,
);
